<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General --->
    <category label="3200"> 
        <!-- Login --->
        <setting type="lsep" label="3201" />
        <setting id="login" type="bool" label="3202" default="false" />
        <setting id="username" type="text" label="3203" enable="eq(-1,true)" />
        <setting id="password" type="text" label="3204" enable="eq(-2,true)" option="hidden" />
        <!-- Random options --->
        <setting type="lsep" label="3205" />
        <setting id="difficulty" type="enum" label="3206" lvalues="3207|3208|3209" enable="eq(-4,true)"  default="0" />
        <setting id="include_archive" type="bool" label="3210" enable="eq(-5,true)" default="false" />
        <setting id="include_solved" type="bool" label="3211" enable="eq(-6,true)" default="false" />
    </category>
    <!-- Look/Feel --->
    <category label="3212">
        <!-- Look --->
        <setting label="3213" type="lsep" />
        <setting id="visible_posted_by" type="bool" label="3214" default="true" />
        <setting id="visible_solved" type="bool" label="3215" default="true" />
        <setting id="visible_shot_id" type="bool" label="3216" default="true" />
        <setting id="visible_shot_date" type="bool" label="3217" default="true" />
        <setting id="visible_shot_flags" type="bool" label="3221" default="true" />
        <!-- Behaviour --->
        <setting label="3218" type="lsep" />
        <setting id="auto_random" type="bool" label="3219" default="true" />
        <setting id="auto_random_sleep" type="enum" label="3220" default="2" values="0|1|2|3|4|5" enable="eq(-1,true)" />
    </category>
</settings>